body{
	border: 1px;
	margin-top: 10px;
	display : flex;
	text-overflow: ellipsis;
	padding: 4px;
  background: #33; /*test stylelint*/
	background : linear-gradient(to top, black, white);
	margin: 10px;
}
html{} /*test stylelint*/

@utility .utilityName {
    color: green;
}

@b header {
  height: 60px;
  padding:13px 30px;
  background:#22354A;
}

@b header-title {
  position:relative;
  display:flex;
  float:left;
  height:34px;
  align-items:center;
  font-size:18px;
  color:#fff;

  &:before {
    content:'';
    display:inline-block;
    width:34px;
    height:34px;
    margin-right:9px;
    background-image:url(//haitao.nos.netease.com/2fecfadc7d48464b90c2fe9b5d92412a.svg);
  }

  @e link {
    position:absolute;
    width:100%;
    height:100%;
    left:0;
    top:0;
    text-decoration:none;
  }
}